.idea
/public/.htaccess
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor

/config/certs
/config/*.ini
/config/*.xml
/config/FINAL_BCCGG_ALL_INSTITUTIONS_CSV.csv
README.md
/tests

composer.lock
package-lock.json
/node_modules/.package-lock.json
/node_modules/public-encrypt/test/
/node_modules/.cache/
/node_modules/**/.cache/
/node_modules/**/*.log
/node_modules/**/*.tmp
/node_modules/**/test/
/node_modules/**/tests/
/node_modules/**/docs/
/node_modules/**/__tests__/
/node_modules/**/.npmrc
/node_modules/**/.yarnrc
/node_modules/**/.git/
/node_modules/**/.svn/
/node_modules/**/.hg/
/node_modules/**/.vscode/
/node_modules/**/.idea/
