.idea
/public/.htaccess
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor

/config/certs
/config/*.ini
/config/*.xml
/config/FINAL_BCCGG_ALL_INSTITUTIONS_CSV.csv
README.md
/tests

composer.lock
package-lock.json
/node_modules/.package-lock.json
/node_modules/public-encrypt/test/
