//BC Sans @font-face
@font-face {
	font-family: 'BC Sans';
	src: url('/dashboard/assets/fonts/BC-Sans-Font/BCSans-Regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BC Sans';
	src: url('/dashboard/assets/fonts/BC-Sans-Font/BCSans-Bold.woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'BC Sans';
	src: url('/dashboard/assets/fonts/BC-Sans-Font/BCSans-Italic.woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'BC Sans';
	src: url('/dashboard/assets/fonts/BC-Sans-Font/BCSans-BoldItalic.woff');
	font-weight: bold;
	font-style: italic;
}

// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";
